<div class="container-fluid today_jobs_index">
  <h4 class="user_index_page_title">ユーザー一覧</h4>
  <small small class="plan_index_guide">詳細から公開中の目標確認とフォローができます。目標達成の仲間を探しましょう！</small>

  <div class="row user_card_row">
    <% @other_users.each do |other_user| %>
      <div class="col-auto card user_card">
        <div class="row">
          <div class="col-12 user_nickname">
            <% if other_user.icon && other_user.icon.url %>
              <h4 class = "user_card_nickname">
                <%= image_tag(other_user.icon.url, class: "header_icon") %>
                <%= other_user.nickname %>
              </h4>
            <% else %>
              <h4>
                <%= image_tag("/default.png", class: "header_icon") %>
                <%= other_user.nickname %>
              </h4>
            <% end %>
          </div>
          <div class="col-9">
            <p>作成した目標：<%= other_user.goals.count %>件</p>
            <p>作成したコミュニティ：<%= other_user.communities.count %>件</p>
          </div>

          <div class="col-3 user_show_button_col">
            <ul class="user_show_button_ul"><%= link_to t('view.button.show'), other_user_path(other_user.id), class: "btn btn-outline-secondary user_show_button" %></ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
