<div class="container-fluid today_jobs_index">
  <h4 class="user_index_page_title">ユーザー一覧</h4>
  <% if @searched_results_other_users.count == 0 %>
    <small class="plan_index_guide">該当するユーザーは存在しません。</small>
    <p class="search_result_guide">「<%= params[:q][:nickname_cont] %>」の検索結果</p>
  <% else %>
    <small class="plan_index_guide">詳細から公開中の目標確認とフォローができます。目標達成の仲間を探しましょう！</small>
    <p class="search_result_guide">「<%= params[:q][:nickname_cont] %>」の検索結果</p>
  <% end %>

  <div class="row other_user_card_row">
    <% @searched_results_other_users.each do |other_user| %>
      <div class="col-auto card other_user_card">
        <div class="row">
          <div class="col-12 other_user_nickname">
            <% if other_user.icon && other_user.icon.url %>
              <div class="row">
                <h4 class="col-9 other_user_card_nickname">
                  <%= image_tag(other_user.icon.url, class: "header_icon") %>
                  <%= other_user.nickname %>
                </h4>
                <%= render 'follow_form', user: other_user, class: 'col-3' %>
              </div>
            <% else %>
              <div class="row">
                <h4 class="col-9 other_user_card_nickname">
                  <%= image_tag("/default.png", class: "header_icon") %>
                  <%= other_user.nickname %>
                </h4>
                <%= render 'follow_form', user: other_user, class: 'col-3' %>
              </div>
            <% end %>
          </div>
          <div class="col-9 own_goals_and_communities">
            <p>作成した目標：<%= other_user.goals.count %>件</p>
            <p>作成したコミュニティ：<%= other_user.communities.count %>件</p>
          </div>

          <div class="col-3 other_user_show_button_col">
            <ul class="other_user_show_button_ul"><%= link_to t('view.button.show'), other_user_path(other_user.id), class: "btn btn-outline-secondary other_user_show_button" %></ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @searched_results_other_users %>
</div>
