<div class="container other_user_container">

  <div class="row other_user_info">
    <div class="other_user_img-thumbnail float-left other_user_icon">
      <% if @other_user.icon.present? %>
        <%= image_tag @other_user.icon.url %>
      <% else %>
        <%= image_tag "/default.png", class: "default_other_user_icon" %>
      <% end %>
    </div>

    <div class="other_user_name_and_intro">
      <h4><%= @other_user.name %></h4>
      <p id="other_user_nickname"><%= @other_user.nickname %></p>
      <p id="other_user_self_introduction"><%= t('view.self_intro') %></p>
      <div class="card other_user_intro_card">
        <%= simple_format(@other_user.introduction) %>
      </div>
    </div>
  </div>

  <div class="user_show_goal_index">
    <h4>公開中の目標</h4>
    <% if @shared_goals.count == 0 %>
      <small class="plan_index_guide"><%= @other_user.name %>さんが公開している目標はありません。</small>
    <% else %>
      <small class="plan_index_guide"><%= @other_user.name %>作成した公開中の目標一覧です。</small>
    <% end %>
    <div class="row user_show_goal_card_row">
      <% @shared_goals.each do |goal| %>
        <div class="card col-auto user_show_goal_card">
          <div class="row no-gutters">

            <div class="col-10">
              <% case goal.status %>
                <% when t('view.holding') %>
                  <h4 class="user_show_goal_title"><span class="badge badge-danger badge-pill user_show_goal_badges"><%= goal.status %></span><%= goal.title %></h4>
                <% when t('view.working') %>
                  <h4 class="user_show_goal_title"><span class="badge badge-primary badge-pill user_show_goal_badges"><%= goal.status %></span><%= goal.title %></h4>
                <% when t('view.done') %>
                  <h4 class="user_show_goal_title"><span class="badge badge-warning badge-pill user_show_goal_badges"><%= goal.status %></span><%= goal.title %></h4>
              <% end %>
              <ul class="user_show_goal_info"><small>期間：<%= goal.day_to_start %>〜<%= goal.day_to_finish %></small></ul>
              <ul class="user_show_goal_info"><small>目的：<%= goal.purpose %></small></ul>
              <ul class="user_show_goal_info"><small>達成すると？：<%= goal.when_succeed %></small></ul>
              <ul class="user_show_goal_info"><small>達成しないと？：<%= goal.when_fail %></small></ul>
            </div>

            <div class="col-2 user_show_goal_buttons">
              <ul class="user_show_goal_button_ul"><%= link_to t('view.button.show'), goal, class: "btn btn-outline-secondary user_show_goal_button" %></ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="other_user_onw_comunity_index">
    <h4>コミュニティ一覧</h4>
    <% if @own_communities.count == 0 %>
      <p class="community_message_p"><small class="community_message"><%= @other_user.name %>さんが作成したコミュニティはありません。</small></p>
    <% else %>
      <p class="community_message_p"><small class="community_message"><%= @other_user.name %>さんが作成したコミュニティ一覧です。</small></p>
    <% end %>

    <% @own_communities.each do |community| %>
      <div class="card other_user_community_card">
        <div class="row">
          <div class="col-8">
            <h4 class="other_user_community_title_in_index"><%= community.title %></h4>
            <small class="other_user_community_summary_in_index">概要：<%= community.summary %></small>
            <small class="other_user_community_owner_nickname_in_index">作成者：<%= community.user.nickname %></small>
          </div>
          <div class="col-4 other_user_own_community_button_div">
            <%= link_to t('view.button.show'), community, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
