<div class="container user_container">

  <div class="row user_info">
    <div class="img-thumbnail float-left user_icon">
      <% if @other_user.icon.present? %>
        <%= image_tag @other_user.icon.url %>
      <% else %>
        <%= image_tag "/default.png", class: "default_user_icon" %>
      <% end %>
    </div>

    <div class="user_name_and_intro">
      <h4><%= @other_user.name %></h4>
      <p id="nickname"><%= @other_user.nickname %></p>
      <p id="self_introduction"><%= t('view.self_intro') %></p>
      <div class="card intro_card">
        <%= simple_format(@other_user.introduction) %>
      </div>
        <%= link_to t('view.button.edit'), edit_user_registration_path, class: "btn btn-outline-secondary", id: "user_info_edit_button" %>
    </div>
  </div>

  <div class="">
    <h4>公開中の目標</h4>
    <% if @shared_goals.count == 0 %>
      <small class="plan_index_guide"><%= @other_user.name %>さんが公開している目標はありません。</small>
    <% else %>
      <small class="plan_index_guide"><%= @other_user.name %>作成した公開中の目標一覧です。</small>
    <% end %>

    <div class="row card_row">
      <% @shared_goals.each do |goal| %>
        <div class="card col-auto goal_card">
          <div class="row no-gutters goal_card_row">
            <div class="col-10">
              <% case goal.status %>
                <% when t('view.holding') %>
                  <h4 class="goal_title"><span class="badge badge-danger badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
                <% when t('view.working') %>
                  <h4 class="goal_title"><span class="badge badge-primary badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
                <% when t('view.done') %>
                  <h4 class="goal_title"><span class="badge badge-warning badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
              <% end %>

              <ul class="goal_info"><small>期間：<%= goal.day_to_start %>〜<%= goal.day_to_finish %></small></ul>
              <ul class="goal_info"><small>目的：<%= goal.purpose %></small></ul>
              <ul class="goal_info"><small>達成すると？：<%= goal.when_succeed %></small></ul>
              <ul class="goal_info"><small>達成しないと？：<%= goal.when_fail %></small></ul>
            </div>

            <div class="col-2 goal_buttons">
              <ul class="goal_button_ul"><%= link_to t('view.button.show'), goal, class: "btn btn-outline-secondary goal_button" %></ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="onw_comunity_index">
    <h4 class="community_index_subtitle">コミュニティ一覧</h4>
    <% own_communities_count = 0 %>
    <% @own_communities.each do |community| %>
      <% if community.user_id == current_user.id %>
      <p class="no_community_message_p"><small class="no_community_message"><%= @other_user.name %>さんが作成したコミュニティ一覧です。</small></p>
        <% own_communities_count += 1 %>
        <div class="card community_card onw_comunity_each">
          <div class="row">
            <div class="col-8">
              <h4 class="community_title_in_index"><%= community.title %></h4>
              <small class="community_summary_in_index">概要：<%= community.summary %></small>
              <small class="community_owner_nickname_in_index">作成者：<%= community.user.nickname %></small>
            </div>
            <div class="col-4 own_community_button_div">
              <%= link_to t('view.button.show'), community, class: "btn btn-outline-secondary own_community_button" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if own_communities_count == 0%>
      <p class="no_community_message_p"><small class="no_community_message"><%= @other_user.name %>さんが作成したコミュニティはありません。</small></p>
    <% end %>
  </div>

</div>
