<div class="container-fluid registration_form">
  <h4 id="sign_up_title"><%= t('.sign_up') %></h4>

  <div class="form-group">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="registration_each_form">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
      </div>

      <div class="registration_each_form">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="registration_each_form">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="registration_each_form">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions" id="sign_up_button">
        <%= f.submit t('.sign_up'), class: "btn btn-outline-secondary" %>
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "login btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
