<%= form_with(model: [community, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row comment_form_field">
    <%= form.text_field :content, id: "comment_content_#{community.id}", class: "form-control edit_comment_form" %>
    <%= form.submit t('view.button.post'), class: "btn btn-outline-secondary comment_submit" %>
  </div>
<% end %>
