<div class="container-fluid">
  <%= form_with(model: @goal, url: daily_plan_path, local: true) do |goal| %>
    <% if @goal.errors.any? %>
      <div id="error_explanation">
        <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @goal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4 class="goal_title_in_monthly_edit"><%= @goal.title %></h4>
    <small class="monthly_plan_guide">今月取り組む解決案にチェックをして保存を押してください。</small>


    <div class="row monthly_edit_zone">
      <div class="col-4 problem_and_solution_title">
        <ul class="list-group">
          <li class="list-group-item title_head">タイトル</li>
          <% @goal.problems.each do |p| %>
            <% p.solutions.each do |so| %>
              <% so.tasks.each do |t| %>
                <li class="list-group-item"><strong><%= t.title %></strong></li>
                <% t.steps.each do |st| %>
                  <li class="list-group-item"><%= st.title %></li>
                <% end %>
              <% end %>
            <% end%>
          <% end %>
        </ul>
      </div>

      <div class="col-2 problem_and_solution_checkbox">
        <ul class="list-group">
          <li class="list-group-item checkbox_title">
            <span class="working_title">完了</span>
            <span class="done_title">取組</span>
          </li>

          <%= goal.fields_for :problems do |problem| %>
            <%= problem.fields_for :solutions do |solution| %>
              <%= solution.fields_for :tasks do |task| %>
                <li class="list-group-item done_checkbox"><%= task.check_box :done %></li>
                <%= task.fields_for :steps do |step| %>
                  <li class="list-group-item working_and_done_checkbox">
                    <%= step.check_box :working %>
                    <span>&emsp;</span>
                    <%= step.check_box :done %>
                  </li>
                <% end %>
              <% end %>
            <% end%>
          <% end %>
        </ul>
      </div>
    </div>

  <p class="actions"><%= goal.submit '保存' %></p>
  <% end %>
</div>
