<div class="container-fluid plan_edit_container">
  <%= form_with(model: @goal, url: daily_plan_path, local: true) do |goal_form| %>
    <% if @goal.errors.any? %>
      <div id="error_explanation">
        <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @goal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4 class="page_title_in_edit">今日の計画</h4>
    <small class="plan_edit_guide">今日取り組むステップを取組中に変更して更新してください。</small>
    <p class="goal_title_in_edit"><strong><%= @goal.title %></strong></p>

    <div class="status_edit_form">
      <ul class="list-group">
        <%= goal_form.fields_for :problems do |problem_form| %>
          <%= problem_form.fields_for :solutions do |solution_form| %>
            <%= solution_form.fields_for :tasks do |task_form| %>
              <% if task_form.object.status == t('view.working') %>
                <div class="row">
                  <li class="col-12 list-group-item status_selectbox list_head_in_edit"><%= task_form.object.title %></li>
                  <%= task_form.fields_for :steps do |step_form| %>
                    <% case step_form.object.status %>
                      <% when t('view.holding') %>
                        <li class="col-10 list-group-item"><span class="badge badge-danger badge-pill goal_badges"><%= step_form.object.status %></span><%= task_form.object.title %></li>
                        <li class="col-2 list-group-item status_selectbox"><%= step_form.select :status, [[t('view.holding'), t('view.holding')], [t('view.working'), t('view.working')], [t('view.done'), t('view.done')]], {}, class: "form-control status_edit_select_box" %>
                      <% when t('view.working') %>
                        <li class="col-10 list-group-item"><span class="badge badge-primary badge-pill goal_badges"><%= step_form.object.status %></span><%= task_form.object.title %></li>
                        <li class="col-2 list-group-item status_selectbox"><%= step_form.select :status, [[t('view.holding'), t('view.holding')], [t('view.working'), t('view.working')], [t('view.done'), t('view.done')]], {}, class: "form-control status_edit_select_box" %>
                      <% when t('view.done') %>
                        <li class="col-10 list-group-item"><span class="badge badge-warning badge-pill goal_badges"><%= step_form.object.status %></span><%= task_form.object.title %></li>
                        <li class="col-2 list-group-item status_selectbox"><%= step_form.select :status, [[t('view.holding'), t('view.holding')], [t('view.working'), t('view.working')], [t('view.done'), t('view.done')]], {}, class: "form-control status_edit_select_box" %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end%>
      </ul>
    </div>

    <div class="update_button_div">
      <%= goal_form.submit t('view.button.update'), class: "btn btn-outline-secondary plan_save" %>
    </div>
  <% end %>
</div>
