<div class="container-fluid plan_index_container">
  <h4 class="title_in_plan_index">今日の計画</h4>
  <small class="plan_index_guide">今週取組中のタスクとそのステップを表示しています。編集ボタンから今日取り組むステップを選択してください。</small>

  <% @goals.each do |goal| %>
    <div class="planning_information">
      <p class="goal_title_in_planning"><strong><%= goal.title %></strong></p>
      <div class="card plan_card">
        <% goal.problems.each do |problem| %>
          <% problem.solutions.each do |solution| %>
            <% solution.tasks.each do |task|%>
              <% if task.status == t('view.working') %>
                <strong class="card-title info_title_in_plan"><%= task.title %></strong>
                <ul class="list-group list-group-flush">
                  <% task.steps.each do |step|%>
                    <% case step.status %>
                      <% when t('view.holding') %>
                        <li class="list-group-item step_title_in_daily"><span class="badge badge-danger badge-pill goal_badges"><%= step.status %></span><%= step.title %></li>
                      <% when t('view.working') %>
                        <li class="list-group-item step_title_in_daily"><span class="badge badge-primary badge-pill goal_badges"><%= step.status %></span><%= step.title %></li>
                      <% when t('view.done') %>
                        <li class="list-group-item step_title_in_daily"><span class="badge badge-warning badge-pill goal_badges"><%= step.status %></span><%= step.title %></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= link_to t('view.button.edit'), edit_daily_plan_path(goal), class: "btn btn-outline-secondary planning_btn" %>
    </div>
  <% end %>
</div>
