<h1>dailyプラン</h1>

<% @goals.each do |goal| %>
  <% goal.problems.each do |problem| %>
    <% problem.solutions.each do |solution| %>
      <% solution.tasks.each do |task|%>


<div class="">
  <strong>解決案：</strong>
  <%= task.title %>
  <%= task.working %>
  <button><%= link_to '詳細', goal %></button>
  <button><%= link_to '編集', edit_daily_plan_path(goal) %></button>
    <% task.steps.each do |step|%>
      <p><%= step.title %></p>
    <% end %>
  </div>
  <% end %>
  <% end %>
<% end %>
<% end %>
