<div class="container-fluid plan_index_container">
  <h4 class="title_in_plan_index">今日の計画</h4>

  <div class="d-flex flex-column-reverse">
    <% the_number_of_working_tasks = 0 %>
    <% @goals.each do |goal| %>
      <div class="planning_information">
        <p class="goal_title_in_planning"><strong><%= goal.title %></strong></p>
        <div class="card plan_card">
          <% goal.problems.each do |problem| %>
            <% if problem.status == t('view.unsolved') %>
              <% problem.solutions.each do |solution| %>
                <% the_number_of_working_tasks = solution.tasks.where(status: t('view.working')).count %>
                <% solution.tasks.each do |task|%>
                  <% if task.status == t('view.working') %>
                    <strong class="card-title info_title_in_plan list_head_in_index"><%= task.title %></strong>
                    <ul class="list-group list-group-flush">
                      <% task.steps.each do |step|%>
                        <% case step.status %>
                          <% when t('view.holding') %>
                            <li class="list-group-item step_title_in_daily"><span class="badge badge-danger badge-pill goal_badges"><%= step.status %></span><%= step.title %></li>
                          <% when t('view.working') %>
                            <li class="list-group-item step_title_in_daily"><span class="badge badge-primary badge-pill goal_badges"><%= step.status %></span><%= step.title %></li>
                          <% when t('view.done') %>
                            <li class="list-group-item step_title_in_daily"><span class="badge badge-warning badge-pill goal_badges"><%= step.status %></span><%= step.title %></li>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% if the_number_of_working_tasks != 0 %>
          <%= link_to t('view.button.edit'), edit_daily_plan_path(goal), class: "btn btn-outline-secondary planning_btn" %>
        <% else %>
          <small class="plan_index_guide">この目標には取組中のタスクが登録されていません。</small>
        <% end %>
      </div>
    <% end %>
    <div>
      <% if the_number_of_working_tasks == 0 %>
        <small class="plan_index_guide">現在取組中のタスクはありません。今週の計画から取り組むタスクを登録してください。</small>
      <% else %>
        <small class="plan_index_guide">今週取組中のタスクとそのステップを表示しています。編集ボタンから今日取り組むステップを選択してください。</small><br/>
        <small class="plan_index_guide">ステップがない場合は、目標の編集から登録してください。</small>
      <% end %>
    </div>
  </div>
</div>
