<h1>monthly計画の編集</h1>

<%= form_with(model: @goal, local: true) do |goal| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <% p = 0%>
    <%= goal.fields_for :problems do |problem| %><% p += 1 %>
      <%= problem.label :title, "問題#{p}" %>
      <%= problem.text_field :title %>

        <%= problem.fields_for :solutions do |solution| %>
          <%= solution.fields_for :tasks do |task| %>
            <%= task.fields_for :steps do |step| %>

                <p><%= solution.check_box :working %></p>
                <p><%= solution.check_box :done %></p>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <p class="actions"><%= goal.submit '作成' %></p>







<% end %>
