<%= form_with(model: @goal, url: monthly_plan_path, local: true) do |goal| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

    <div class="row">
      <div class="col-6">
        <h4><%= @goal.title %></h4>
      </div>
      <div class="col-6">
        <span>A</span><span>B</span>
      </div>

      <div class="col-6">
      <% @goal.problems.each do |p| %>
        <p><strong>問題：<%= p.title %></strong></p>

        <% p.solutions.each do |so| %>
          <p>解決案：<%= so.title %></p>

        <% end %>
      <% end%>
      </div>

    <div class="col-6">
      <%= goal.fields_for :problems do |problem| %>
        <p><%= problem.check_box :done %><p>

        <%= problem.fields_for :solutions do |solution| %>
          <p>
            <%= solution.check_box :working %>
            <%= solution.check_box :done %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>

  <p class="actions"><%= goal.submit '保存' %></p>
<% end %>
