<h1>monthly計画の編集</h1>
<%= form_with(model: @goal, url: monthly_plan_path, local: true) do |goal| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div>
  <div>
    <h4><%= @goal.title %></h4>

    <% @goal.problems.each do |p| %>
      <p><strong>問題：<%= p.title %></strong></p>

      <% p.solutions.each do |so| %>
        <p><tr>解決案：<%= so.title %></tr></p>

      <% end %>
    <% end%>
  </div>

  <div>
    <%= goal.fields_for :problems do |problem| %>
      <%= problem.check_box :done %>

      <%= problem.fields_for :solutions do |solution| %>
        <%= solution.check_box :working %>
        <%= solution.check_box :done %>
      <% end %>
    <% end %>
  </div>
</div>

  <p class="actions"><%= goal.submit '保存' %></p>
<% end %>
