<h1>montly計画</h1>
<table>
  <thead>
  </thead>

  <tbody>
    <%= form_with(model: @goal, local: true) do |goal| %>
      <% @goals.each do |g| %>
      <h1>目標：<%= g.title %></h1>
        <div>
          <% g.problems.each do |p| %>
            <h2>問題：<%= p.title %></h2>
            <%= goal.fields_for :problems do |problem| %>
              <%= problem.label :done, '終わった？' %>
              <%= problem.hidden_field :done, :value => '未完了' %>
              <%= problem.check_box :done, :value => '完了' %>
        </div>
        <div>
          <% p.solutions.each do |so| %>
            <h3>解決案：<%= so.title %></h3>
            <%= problem.fields_for :solutions do |solution| %>
              <%= solution.label :working, '取り組む？' %>
              <%= solution.hidden_field :working, :value => '待機中' %>
              <%= solution.check_box :working, :value => '取組中'%>
              <%= solution.label :done, '終わった？' %>
              <%= solution.hidden_field :done, :value => '未完了' %>
              <%= solution.check_box :done, :value => '完了' %>
            <% end %>
          <% end %>
        </div>
            <% end %>
          <% end %>
        <% end%>
      <%= goal.submit '保存' %>
    <% end %>
  </tbody>
</table>
