<h1>目標一覧</h1>
<% @goals.each do |goal| %>
  <div class="">
    <strong>目標：</strong>
    <%= goal.title %>
    <%= goal.status %>
    <button><%= link_to '詳細', goal %></button>
    <button><%= link_to '編集', edit_monthly_plan_path(goal) %></button>
    <button><%= link_to '削除', goal, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
<% end %>
