<div class="container-fluid plan_index_container">
  <h4 class="title_in_plan_index">今月の計画</h4>
  <small class="plan_index_guide">現在取組中の目標に設定されている問題と解決案を表示しています。編集ボタンから今月取り組む解決案を選択してください。</small>

  <% @goals.each do |goal| %>
    <div class="planning_information">
      <p class="goal_title_in_planning"><strong><%= goal.title %></strong></p>
      <div class="card plan_card">
        <ul class="list-group list-group-flush">
          <% goal.problems.each do |problem| %>
            <% if problem.title != "" %>
            <li class="list-group-item info_title_in_plan list_head_in_index"><strong><%= problem.title %></strong></li>
            <% problem.solutions.each do |solution|%>
              <% case solution.status %>
                <% when t('view.holding') %>
                  <li class="list-group-item solution_title_in_monthly"><span class="badge badge-danger badge-pill goal_badges"><%= solution.status %></span><%= solution.title %></li>
                <% when t('view.working') %>
                  <li class="list-group-item solution_title_in_monthly"><span class="badge badge-primary badge-pill goal_badges"><%= solution.status %></span><%= solution.title %></li>
                <% when t('view.done') %>
                  <li class="list-group-item solution_title_in_monthly"><span class="badge badge-warning badge-pill goal_badges"><%= solution.status %></span><%= solution.title %></li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <%= link_to t('view.button.edit'), edit_monthly_plan_path(goal), class: "btn btn-outline-secondary planning_btn" %>
    </div>
  <% end %>
</div>
