<div class="container-fluid goal_index_container">
  <h4 class="title_in_goal_index">公開中の目標一覧</h4>
  <% if @other_shared_goals.count == 0 %>
    <small class="plan_index_guide">現在公開されている目標はありません。</small>
  <% else %>
    <small class="plan_index_guide">公開されている目標一覧です。追加ボタンで自分の目標に追加しましょう。</small>
  <% end %>

  <div class="serch_form">
    <%= search_form_for @searched_goal, url: search_shared_goals_path(@other_shared_goals) do |search_form| %>
      <%= search_form.search_field :title_cont, class: "form-control search_form_window", placeholder: "目標のタイトルを入力" %>
      <%= search_form.submit t('view.button.search'), class: "btn btn-outline-secondary search_button" %>
    <% end %>
  </div>

  <div class="row card_row">
    <% @other_shared_goals.each do |goal| %>
      <div class="card col-auto goal_card">
        <div class="row no-gutters goal_card_row">
          <div class="col-10">
            <h4 class="goal_title"><%= goal.title %></h4>
            <ul class="goal_info"><small>作成者：<%= goal.author %></small></ul>
            <ul class="goal_info"><small>期間：<%= goal.day_to_start %>〜<%= goal.day_to_finish %></small></ul>
            <ul class="goal_info"><small>目的：<%= goal.purpose %></small></ul>
            <ul class="goal_info"><small>達成すると？：<%= goal.when_succeed %></small></ul>
            <ul class="goal_info"><small>達成しないと？：<%= goal.when_fail %></small></ul>
          </div>

          <div class="col-2 goal_buttons">
            <ul class="goal_button_ul"><%= link_to t('view.button.show'), goal, class: "btn btn-outline-secondary goal_button" %></ul>
            <ul class="goal_button_ul"><%= link_to t('view.button.take_in'), shared_goal_path(goal), method: :patch, class: "btn btn-outline-secondary goal_button" %></ul>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @other_shared_goals %>
  </div>
</div>
