<div class="container user_container">
  <div class="row user_info">

    <div class="img-thumbnail float-left user_icon">
      <% if current_user.icon.present? %>
        <%= image_tag current_user.icon.url %>
      <% else %>
        <p>プロフィール画像未登録</p>
      <% end %>
    </div>

    <div class="user_name_and_intro">
      <h4><%= current_user.name %></h4>
      <p id="self_introduction"><%= t('view.self_intro') %></p>
      <p class="card intro_card"><%= current_user.introduction %></p>
      <%= link_to t('view.button.edit'), edit_user_registration_path, class: "btn btn-outline-secondary" %>
    </div>

  </div>
</div>
