<div class="container user_container">
  <div class="row user_info">

    <div class="img-thumbnail float-left user_icon">
      <% if current_user.icon.present? %>
        <%= image_tag current_user.icon.url %>
      <% else %>
        <%= image_tag "/default.png", class: "default_user_icon" %>
      <% end %>
    </div>

    <div class="user_name_and_intro">
      <h4><%= current_user.name %></h4>
      <p id="nickname"><%= current_user.nickname %></p>
      <p id="self_introduction"><%= t('view.self_intro') %></p>
      <div class="card intro_card">
        <%= simple_format(current_user.introduction) %>
      </div>
        <%= link_to t('view.button.edit'), edit_user_registration_path, class: "btn btn-outline-secondary", id: "user_info_edit_button" %>
    </div>

  </div>
</div>
