<h1>weekly計画の編集</h1>
<%= form_with(model: @goal, url: weekly_plan_path, local: true) do |goal| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div>
  <div>
    <% @goal.problems.each do |p| %>
      <% p.solutions.each do |so| %>
        <p><strong><%= so.title %></strong></p>

        <% so.tasks.each do |t| %>
          <p><tr>解決案：<%= t.title %></tr></p>
          <% end %>
      <% end %>
    <% end%>
  </div>

  <div>
    <%= goal.fields_for :problems do |problem| %>
      <%= problem.fields_for :solutions do |solution| %>
        <%= solution.check_box :done %>

        <%= solution.fields_for :tasks do |task| %>
          <%= task.check_box :working %>
          <%= task.check_box :done %>
      <% end %>
    <% end %>
    <% end%>
  </div>
</div>

<p class="actions"><%= goal.submit '保存' %></p>
<% end %>
