<div class="container-fluid plan_edit_container">
  <%= form_with(model: @goal, url: weekly_plan_path, local: true) do |goal| %>
    <% if @goal.errors.any? %>
      <div id="error_explanation">
        <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @goal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4 class="page_title_in_edit">今週の計画</h4>
    <small class="plan_edit_guide">今週取り組むタスクを選択して保存を押してください。</small>
    <p class="goal_title_in_edit"><strong><%= @goal.title %></strong></p>
    <div class="row plan_edit_zone">
      <div class="col-10 plan_edit_title">
        <ul class="list-group">
          <% @goal.problems.each do |p| %>
            <% p.solutions.each do |so| %>
              <% if so.status == t('view.working') %>
                <li class="list-group-item"><strong><%= so.title %></strong></li>
                <% so.tasks.each do |t| %>
                  <% case t.status %>
                    <% when t('view.holding') %>
                      <li class="list-group-item"><span class="badge badge-danger badge-pill goal_badges"><%= t.status %></span><%= t.title %></li>
                    <% when t('view.working') %>
                      <li class="list-group-item"><span class="badge badge-primary badge-pill goal_badges"><%= t.status %></span><%= t.title %></li>
                    <% when t('view.done') %>
                      <li class="list-group-item"><span class="badge badge-warning badge-pill goal_badges"><%= t.status %></span><%= t.title %></li>
                  <% end %>
                <% end %>
              <% end %><!-- if分のend -->
            <% end %>
          <% end%>
        </ul>
      </div>

      <div class="col-2 status_edit_form">
        <ul class="list-group">
          <%= goal.fields_for :problems do |problem| %>
            <%= problem.fields_for :solutions do |solution| %>
            <li class="list-group-item status_selectbox"><%= solution.select :status, [[t('view.holding'), t('view.holding')], [t('view.working'), t('view.working')], [t('view.done'), t('view.done')]], {}, class: "form-control status_edit_select_box" %></li>
            <%= solution.fields_for :tasks do |task| %>
              <li class="list-group-item status_selectbox">
                <%= task.select :status, [[t('view.holding'), t('view.holding')], [t('view.working'), t('view.working')], [t('view.done'), t('view.done')]], {}, class: "form-control status_edit_select_box" %>
              </li>
            <% end %>
          <% end %>
        <% end%>
      </div>
    </div>

  <p class="actions"><%= goal.submit t('view.button.update'), class: "btn btn-outline-secondary plan_save" %></p>
  <% end %>
</div>
