<div class="container-fluid plan_edit_container">
  <%= form_with(model: @goal, url: weekly_plan_path, local: true) do |goal| %>
    <% if @goal.errors.any? %>
      <div id="error_explanation">
        <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @goal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4 class="page_title_in_edit">今週の計画</h4>
    <small class="plan_edit_guide">今週取り組むタスクを取組中に変更して更新してください。</small>
    <p class="goal_title_in_edit"><strong><%= @goal.title %></strong></p>

    <div class="status_edit_form">
      <ul class="list-group">
        <%= goal.fields_for :problems do |problem| %>
          <%= problem.fields_for :solutions do |solution| %>
            <% if solution.object.status == t('view.working') %>
              <div class="row">
                <li class="col-12 list-group-item status_selectbox list_head_in_edit"><%= solution.object.title %></li>
                <%= solution.fields_for :tasks do |task| %>
                  <% case solution.object.status %>
                    <% when t('view.holding') %>
                      <li class="col-10 list-group-item"><span class="badge badge-danger badge-pill goal_badges"><%= task.object.status %></span><%= task.object.title %></li>
                      <li class="col-2 list-group-item status_selectbox"><%= task.select :status, [[t('view.holding'), t('view.holding')], [t('view.working'), t('view.working')], [t('view.done'), t('view.done')]], {}, class: "form-control status_edit_select_box" %>
                    <% when t('view.working') %>
                      <li class="col-10 list-group-item"><span class="badge badge-primary badge-pill goal_badges"><%= task.object.status %></span><%= task.object.title %></li>
                      <li class="col-2 list-group-item status_selectbox"><%= task.select :status, [[t('view.holding'), t('view.holding')], [t('view.working'), t('view.working')], [t('view.done'), t('view.done')]], {}, class: "form-control status_edit_select_box" %>
                    <% when t('view.done') %>
                      <li class="col-10 list-group-item"><span class="badge badge-warning badge-pill goal_badges"><%= task.object.status %></span><%= task.object.title %></li>
                      <li class="col-2 list-group-item status_selectbox"><%= task.select :status, [[t('view.holding'), t('view.holding')], [t('view.working'), t('view.working')], [t('view.done'), t('view.done')]], {}, class: "form-control status_edit_select_box" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="update_button_div">
      <%= goal.submit t('view.button.update'), class: "btn btn-outline-secondary plan_save" %>
    </div>
  <% end %>
</div>
