<div class="container-fluid weekly_plan_index">
  <h4 class="weekly_plan_page_title">今週の計画</h4>
  <small class="weekly_plan_guide">今月取組中の解決案とそのタスクを表示しています。編集ボタンから今週取り組むタスクを選択してください。</small>

  <% @goals.each do |goal| %>
    <div class="solutions_and_tasks">
      <div class="card weekly_plan_card">

        <% goal.problems.each do |problem| %>
          <% problem.solutions.each do |solution| %>
            <strong class="card-title solution_title_in_weekly"><%= solution.title %></strong>
            <ul class="list-group list-group-flush">
              <% solution.tasks.each do |task|%>
                <% case task.status %>
                  <% when "保留中" %>
                    <li class="list-group-item task_title_in_weekly"><span class="badge badge-danger badge-pill goal_badges"><%= task.status %></span><%= task.title %></li>
                  <% when "取組中" %>
                    <li class="list-group-item task_title_in_weekly"><span class="badge badge-primary badge-pill goal_badges"><%= task.status %></span><%= task.title %></li>
                  <% when "完了" %>
                    <li class="list-group-item task_title_in_weekly"><span class="badge badge-warning badge-pill goal_badges"><%= task.status %></span><%= task.title %></li>
                  <% end %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
      <%= link_to '編集', edit_weekly_plan_path(goal), class: "btn btn-outline-secondary planning_btn_in_weekly" %>
    </div>
  <% end %>

</div>
