<%= nested_form_for(@goal, local: true) do |goal| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="goal_info_edit container-fluid form-group">
    <div class="goal_info_edit_each">
      <%= goal.label :title, 'タイトル' %>
      <%= goal.text_field :title, class: 'form-control' %>
    </div>
    <div class="goal_info_edit_each row">
      <div class="col-4" id="day_to_start_col">
      <%= goal.label :day_to_start, '開始' %>
      <%= goal.month_field :day_to_start, class: 'form-control' %>
      </div>
      <div class="col-4" id="day_to_finish_col">
      <%= goal.label :day_to_finish, '期限' %>
      <%= goal.month_field :day_to_finish, class: 'form-control' %>
      </div>
      <div class="col-4" id="status_col">
        <%= goal.label :status, '状態' %>
        <%= goal.select :status, [['選択してください', ''], ['保留', '保留'], ['取組中', '取組中'], ['完了', '完了']], {}, class: 'form-control' %>
      </div>
    </div>
    <div class="goal_info_edit_each">
      <%= goal.label :purpose, '目的' %>
      <%= goal.text_field :purpose, class: 'form-control' %>
    </div>
    <div class="goal_info_edit_each">
      <%= goal.label :when_succeed, '達成後の未来' %>
      <%= goal.text_area :when_succeed, class: 'form-control' %>
    </div>
    <div class="goal_info_edit_each">
      <%= goal.label :when_fail, '未達成の未来' %>
      <%= goal.text_area :when_fail, class: 'form-control' %>
    </div>
  </div>

  <!-- problem -->
  <div class="container-fluid bg-info">
    <%= goal.fields_for :problems do |problem| %>
      <h1>problem</h1>
      <%= problem.text_field :title %>
      <%= problem.link_to_remove "削除" %>

  　　<!-- solution -->
      <div class="problem container-fluid bg-primary">
        <%= problem.fields_for :solutions do |solution| %>
          <h1>solution</h1>
          <%= solution.text_field :title %>
          <%= solution.link_to_remove "削除" %>

          <!-- task -->
          <div class="container-fluid bg-success">
            <%= solution.fields_for :tasks do |task| %>
              <h1>task</h1>
              <%= task.text_field :title %>
              <%= task.link_to_remove "削除" %>

              <!-- step -->
              <div class="container-fluid bg-warning">
                <h1>step</h1>
                <%= task.fields_for :steps do |step| %>
                  <%= step.text_field :title %>
                  <%= step.link_to_remove "削除" %>
                <% end %>
                <%= task.link_to_add "ステップ追加", :steps %>
              </div>
              <!-- step -->

            <% end %>
            <%= solution.link_to_add "タスク追加", :tasks %>
          </div>
          <!-- task -->

        <% end %>
        <%= problem.link_to_add "解決案追加", :solutions %>
      </div>
      <!-- solution -->

      <% end %>
      <%= goal.link_to_add "問題追加", :problems %>
    </div>
    <!-- problem -->

  <%= goal.submit '作成' %>
<% end %>
