<%= form_with(model: @goal, local: true) do |goal| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<!-- 目標登録フォーム -->
  <div class="field">
    <%= goal.label :title, 'タイトル' %>
    <%= goal.text_field :title %>
  </div>

  <div class="field">
    <%= goal.label :day_to_start, '開始' %>
    <%= goal.date_field :day_to_start %>
  </div>

  <div class="field">
    <%= goal.label :day_to_finish, '期限' %>
    <%= goal.date_field :day_to_finish %>
  </div>

  <div class="field">
    <%= goal.label :purpose, '目的' %>
    <%= goal.text_field :purpose %>
  </div>

  <div class="field">
    <%= goal.label :status, '状態' %>
    <%= goal.select :status, [['選択してください', ''], ['待機中', '待機中'], ['取組中', '取組中'], ['期限切れ', '期限切れ'], ['完了', '完了']] %>
  </div>

  <div class="field">
    <%= goal.label :when_succeed, '達成後の未来' %>
    <%= goal.text_area :when_succeed %>
  </div>

  <div class="field">
    <%= goal.label :when_fail, '未達成の未来' %>
    <%= goal.text_area :when_fail %>
  </div>

<!-- problem登録フォーム -->
  <% p = 0 %>
  <%= goal.fields_for :problems do |problem| %>
    <% p += 1%>
    <h2 ><%= "問題#{p}" %></h2>
    <div class="field">
      <%= problem.label :title, "問題タイトル" %>
      <%= problem.text_field :title %>
    </div>

<!-- solution登録フォーム -->
    <% so = 0 %>
    <%= problem.fields_for :solutions do |solution| %>
      <% so += 1%>
      <div class="field">
        <%= solution.label :title, "解決案#{so}" %>
        <%= solution.text_field :title %>
      </div>

<!-- task登録フォーム -->
      <% t = 0 %>
      <%= solution.fields_for :tasks do |task| %>
        <% t += 1%>
        <div class="field">
          <%= task.label :title, "タスク#{t}" %>
          <%= task.text_field :title %>
        </div>

<!-- step登録フォーム -->
        <% st = 0 %>
        <%= task.fields_for :steps do |step| %>
          <% st += 1 %>
          <div class="field">
            <%= step.label :title, "ステップ#{st}" %>
            <%= step.text_field :title %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= goal.submit '作成' %>
  </div>
<% end %>
