<%= nested_form_for(@goal, local: true) do |goal| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= @goal.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="goal_info_edit container-fluid form-group">
    <div class="forms_for_goals_table">
      <div class="goal_info_edit_each">
        <%= goal.label :title, 'タイトル' %>
        <%= goal.text_field :title, class: 'form-control' %>
      </div>
      <div class="goal_info_edit_each row">
        <div class="col-4" id="day_to_start_col">
        <%= goal.label :day_to_start, '開始' %>
        <%= goal.month_field :day_to_start, class: 'form-control' %>
        </div>
        <div class="col-4" id="day_to_finish_col">
        <%= goal.label :day_to_finish, '期限' %>
        <%= goal.month_field :day_to_finish, class: 'form-control' %>
        </div>
        <div class="col-4" id="status_col">
          <%= goal.label :status, '状態' %>
          <%= goal.select :status, [['保留中', '保留中'], ['取組中', '取組中'], ['完了', '完了']], {}, class: 'form-control' %>
        </div>
      </div>
      <div class="goal_info_edit_each">
        <%= goal.label :purpose, '目的' %>
        <%= goal.text_field :purpose, class: 'form-control' %>
      </div>
      <div class="goal_info_edit_each">
        <%= goal.label :when_succeed, '達成後の未来' %>
        <%= goal.text_area :when_succeed, class: 'form-control' %>
      </div>
      <div class="goal_info_edit_each" id="goal_info_edit_each_end">
        <%= goal.label :when_fail, '未達成の未来' %>
        <%= goal.text_area :when_fail, class: 'form-control' %>
      </div>
    </div>

    <!-- problem -->
    <div class="container-fluid card border-primary problem_form_card" id="goal_related_info_top">
      <%= goal.fields_for :problems do |problem| %>
      <h4 class="form_title">課題</h4>
        <div class="row form_row">

          <%= problem.text_field :title, class: 'form-control goal_related_info_forms border-primary col-8' %>
          <%= problem.link_to_remove "削除", class: "col-2 goal_related_info_forms_delete", id: "problem_form_delete" %>
        </div>

  　　  <!-- solution -->
        <div class="problem container-fluid card border-danger solution_form_card">
          <%= problem.fields_for :solutions do |solution| %>
          <h4 class="form_title">解決案</h4>
            <div class="row form_row">

              <%= solution.text_field :title, class: 'form-control goal_related_info_forms border-danger col-8' %>
              <%= solution.link_to_remove "削除", class: "col-2 goal_related_info_forms_delete", id: "solution_form_delete" %>
            </div>

            <!-- task -->
            <div class="container-fluid card border-warning task_form_card">
              <%= solution.fields_for :tasks do |task| %>
                <h4 class="form_title">タスク</h4>
                <div class="row form_row">
                  <%= task.text_field :title, class: 'form-control goal_related_info_forms border-warning col-8' %>
                  <%= task.link_to_remove "削除", class: "col-2 goal_related_info_forms_delete", id: "task_form_delete" %>
                </div>

                <!-- step -->
                <div class="container-fluid card border-success step_form_card">
                  <h4 class="form_title">ステップ</h4>
                  <%= task.fields_for :steps do |step| %>
                    <div class="row form_row">
                      <%= step.text_field :title, class: 'form-control goal_related_info_forms border-success col-8' %>
                      <%= step.link_to_remove "削除", class: "col-2 goal_related_info_forms_delete", id: "step_form_delete" %>
                    </div>
                  <% end %>
                  <%= task.link_to_add "ステップ追加", :steps, id: "step_form_add"  %>
                </div>
                <!-- step -->

              <% end %>
              <%= solution.link_to_add "タスク追加", :tasks, id: "task_form_add" %>
            </div>
            <!-- task -->

          <% end %>
          <%= problem.link_to_add "解決案追加", :solutions, id: "solution_form_add" %>
        </div>
        <!-- solution -->

        <% end %>
        <%= goal.link_to_add "問題追加", :problems, id: "problem_form_add" %>
      </div>
      <!-- problem -->

    <%= goal.submit '作成', class: "btn btn-outline-secondary goal_submit" %>
  <% end %>
</div>
