<div class="container-fluid goal_index_container">
  <h4 class="title_in_goal_index">目標一覧</h4>
  <% if @goals.count == 0 %>
    <small class="plan_index_guide">現在登録されている目標はありません。目標作成から目標を作成してください。</small>
  <% else %>
    <small class="plan_index_guide">現在作成されている目標一覧です。編集から取り組む目標を設定してください。</small>
  <% end %>

  <div class="row card_row">
  <% @goals.each do |goal| %>
    <div class="card col-auto goal_card">
      <div class="row no-gutters goal_card_row">
        <div class="col-10">
          <% case goal.status %>
            <% when t('view.holding') %>
              <h4 class="goal_title"><span class="badge badge-danger badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
            <% when t('view.working') %>
              <h4 class="goal_title"><span class="badge badge-primary badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
            <% when t('view.done') %>
              <h4 class="goal_title"><span class="badge badge-warning badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
          <% end %>

          <ul class="goal_info"><small>期間：<%= goal.day_to_start %>〜<%= goal.day_to_finish %></small></ul>
          <ul class="goal_info"><small>目的：<%= goal.purpose %></small></ul>
          <ul class="goal_info"><small>達成すると？：<%= goal.when_succeed %></small></ul>
          <ul class="goal_info"><small>達成しないと？：<%= goal.when_fail %></small></ul>
        </div>

        <div class="col-2 goal_buttons">
          <ul class="goal_button_ul"><%= link_to t('view.button.show'), goal, class: "btn btn-outline-secondary goal_button" %></ul>
          <ul class="goal_button_ul"><%= link_to t('view.button.edit'), edit_goal_path(goal), class: "btn btn-outline-secondary goal_button" %></ul>
          <ul class="goal_button_ul"><%= link_to t('view.button.delete'), goal, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-secondary goal_button" %></ul>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <%= paginate @goals %>
</div>
