<h1>目標一覧</h1>
<% @goals.each do |goal| %>
  <div class="">
    <strong>目標：</strong>
    <%= goal.title %>
    <%= goal.status %>
    <button><%= link_to '詳細', goal %></button>
    <button><%= link_to '編集', edit_goal_path(goal) %></button>
    <button><%= link_to '削除', goal, method: :delete, data: { confirm: 'Are you sure?' } %></button>

    <p>
      <strong>期間：</strong>
      <%= goal.day_to_start %>〜<%= goal.day_to_finish %>
    </p>
    <p>
      <strong>目的：</strong>
      <%= goal.purpose %>
    <p>
    <p>
      <strong>達成したら？：</strong>
      <%= goal.when_succeed %>
    </p>
    <p>
      <strong>達成しなかったら？：</strong>
      <%= goal.when_fail %>
    </p>
  </div>
<% end %>
