<div class="container_fluid goal_index">
  <h1>目標一覧</h1>
  <% @goals.each do |goal| %>
    <div class="card goal_card">
      <div class="row goal_card_row">
        <div class="col-8">
          <h4 class="goal_title"><%= goal.title %></h4>
          <ul class="goal_info"><small>期間：<%= goal.day_to_start %>〜<%= goal.day_to_finish %></small></ul>
          <ul class="goal_info"><small>目的：<%= goal.purpose %></small></ul>
          <ul class="goal_info"><small>達成すると？：<%= goal.when_succeed %></small></ul>
          <ul class="goal_info"><small>達成しないと？：</small></ul>
        </div>

        <div class="col-4 goal_buttons">
          <ul class="goal_button_ul"><button class="btn btn-outline-secondary goal_button"><%= link_to '詳細', goal %></button></ul>
          <ul class="goal_button_ul"><button class="btn btn-outline-secondary goal_button"><%= link_to '編集', edit_goal_path(goal) %></button></ul>
          <ul class="goal_button_ul"><button class="btn btn-outline-secondary goal_button"><%= link_to '削除', goal, method: :delete, data: { confirm: 'Are you sure?' } %></button></ul>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate @goals %>

  <button class="csv_export"><%= link_to 'エクスポート', goals_path(format: :csv) %></button>


</div>
