<div class="container_fluid goal_index">
  <% @goals.each do |goal| %>
    <div class="card goal_card">
      <div class="row goal_card_row">
        <div class="col-8">
          <% case goal.status %>
            <% when "" %>
              <h4 class="goal_title"><span class="badge badge-warning badge-pill goal_badges">未登録</span><%= goal.title %></h4>
            <% when "保留中" %>
              <h4 class="goal_title"><span class="badge badge-danger badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
            <% when "取組中" %>
              <h4 class="goal_title"><span class="badge badge-primary badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
            <% when "完了" %>
              <h4 class="goal_title"><span class="badge badge-warning badge-pill goal_badges"><%= goal.status %></span><%= goal.title %></h4>
          <% end %>


          <ul class="goal_info"><small>期間：<%= goal.day_to_start %>〜<%= goal.day_to_finish %></small></ul>
          <ul class="goal_info"><small>目的：<%= goal.purpose %></small></ul>
          <ul class="goal_info"><small>達成すると？：<%= goal.when_succeed %></small></ul>
          <ul class="goal_info"><small>達成しないと？：<%= goal.when_fail %></small></ul>
        </div>

        <div class="col-4 goal_buttons">
          <ul class="goal_button_ul"><%= link_to '詳細', goal, class: "btn btn-outline-secondary goal_button" %></ul>
          <ul class="goal_button_ul"><%= link_to '編集', edit_goal_path(goal), class: "btn btn-outline-secondary goal_button" %></ul>
          <ul class="goal_button_ul"><%= link_to '削除', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary goal_button" %></ul>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to 'CSV出力', goals_path(format: :csv), class: "csv_export btn btn-outline-secondary" %>
  <%= paginate @goals %>
</div>
