<h1>目標詳細</h1>

<div>
  <strong>目標</strong>
  <p><%= @goal.title %></p>
  <p><%= @goal.day_to_start %></p>
  <p><%= @goal.day_to_finish %></p>
  <p><%= @goal.purpose %></p>
  <p><%= @goal.status %></p>
  <p><%= @goal.when_succeed %></p>
  <p><%= @goal.when_fail %></p>
</div>


<p>
  <strong>問題</strong>
  <% @goal.problems.each do |problem| %>
   <p><%= problem.title %><p>
</p>

<p>
  <strong>解決案</strong>

   <p><%= problem.solutions.title %><p>
  <% end %>
</p>

<p>
  <strong>タスク</strong>

</p>

<p>
  <strong>ステップ</strong>

</p>

<%= link_to '目標一覧', goals_path %>
