<h1>目標詳細</h1>

<div>
<p>
  <strong>タイトル</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>開始日</strong>
  <%= @goal.day_to_start %>
</p>

<p>
  <strong>終了日</strong>
  <%= @goal.day_to_finish %>
</p>

<p>
  <strong>目的</strong>
  <%= @goal.purpose %>
</p>

<p>
  <strong>状態</strong>
  <%= @goal.status %>
</p>

<p>
  <strong>達成</strong>
  <%= @goal.when_succeed %>
</p>

<p>
  <strong>未達成</strong>
  <%= @goal.when_fail %>
</p>

<%= link_to '目標一覧', goals_path %>
