<h1>目標詳細</h1>
<div class="">
  <strong>目標</strong>
  <%= @goal.title %>
  <%= @goal.status %>

  <p>
    <strong>期間：</strong>
    <%= @goal.day_to_start %>〜<%= @goal.day_to_finish %>
  </p>
  <p>
    <strong>目的：</strong>
    <%= @goal.purpose %>
  <p>
  <p>
    <strong>達成したら？：</strong>
    <%= @goal.when_succeed %>
  </p>
  <p>
    <strong>達成しなかったら？：</strong>
    <%= @goal.when_fail %>
  </p>
</div>

<div>
  <% @goal.problems.each do |problem| %>
    <h2>問題：<%= problem.title %></h2>
    <% problem.solutions.each do |solution| %>
      <% solution.tasks.each do |task| %>
        <% task.steps.each do |step| %>
          <table>
            <thead>
              <th>解決案</th>
              <th>タスク</th>
              <th>ステップ</th>
            </thead>
            <tbody>
              <td><%= solution.title %></td>
              <td><%= task.title %></td>
              <td><%= step.title %></td>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to '目標一覧', goals_path %>
