<h1>目標詳細</h1>

<div>
  <strong>目標</strong>
  <p><%= @goal.title %></p>
  <p><%= @goal.day_to_start %></p>
  <p><%= @goal.day_to_finish %></p>
  <p><%= @goal.purpose %></p>
  <p><%= @goal.status %></p>
  <p><%= @goal.when_succeed %></p>
  <p><%= @goal.when_fail %></p>
</div>

<div>
  <% @goal.problems.each do |problem| %>
    <h2>問題：<%= problem.title %></h2>
    <p>終わった？：<%= problem.done %></p>

    <% problem.solutions.each do |solution| %>
      <h3>解決案：<%= solution.title %></h3>
      <p>取り組む？：<%= solution.working %></p>
      <p>終わった？：<%= solution.done %></p>

      <% solution.tasks.each do |task| %>
        <h4>タスク：<%= task.title %></h4>
        <p>取り組む？：<%= task.working %></p>
        <p>終わった？：<%= task.done %></p>

        <% task.steps.each do |step| %>
          <h5>ステップ：<%= step.title %></h5>
          <p>取り組む？：<%= step.working %></p>
          <p>終わった？：<%= step.done %></p>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to '目標一覧', goals_path %>
