<div class="container-fluid community_index_container">
<h4 class="comunity_index_title">コミュニティ一覧</h4>
<small class="community_index_guide">コミュニティの一覧です。</small>

  <div class="onw_comunity_index">
    <strong>作成したコミュティ</strong>
    <% @own_communities.each do |community| %>
    <div class="onw_comunity_each">
      <%= community.title %>
      <%= community.summary %>
      <td><%= link_to t('view.show'), community, class: "btn btn-outline-secondary goal_button" %></td>
      <td><%= link_to t('view.edit'), edit_community_path(community), class: "btn btn-outline-secondary goal_button" %></td>
      <td><%= link_to t('view.destroy'), community, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary goal_button" %></td>
      </div>
    <% end %>
  </div>

  <div class="onw_comunity_index">
    <strong>参加中のコミュティ</strong>
    <% @own_communities.each do |community| %>
    <div class="onw_comunity_each">
      <%= community.title %>
      <%= community.summary %>
      <td><%= link_to t('view.show'), community, class: "btn btn-outline-secondary goal_button" %></td>
      <td><%= link_to t('view.edit'), edit_community_path(community), class: "btn btn-outline-secondary goal_button" %></td>
      <td><%= link_to t('view.destroy'), community, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary goal_button" %></td>
      </div>
    <% end %>
  </div>

  <div class="other_comunity_index">
    <strong>コミュニティ一覧</strong>

    <div class="serch_form">
      <%= search_form_for @searched_other_communities, url: community_searched_result_communities_path(@other_communities) do |search_form| %>
        <%= search_form.search_field :title, class: "form-control search_form_window", placeholder: "コミュニティ名を入力" %>
        <%= search_form.submit t('view.button.search'), class: "btn btn-outline-secondary search_button" %>
      <% end %>
    </div>

    <% @other_communities.each do |community| %>
    <div class="other_comunity_each">
      <%= community.title %>
      <%= community.summary %>
      <td><%= link_to "詳細", community, class: "btn btn-outline-secondary goal_button" %></td>
      <td><%= link_to "参加", members_path(community_id: community.id), method: :post, class: 'btn btn-outline-secondary' %></td>
    </div>
    <% end %>
  </div>
</div>
