<div class="container-fluid community_index_container">
  <h4 class="comunity_index_title">コミュニティを探す</h4>
  <small class="community_index_guide">同じ目標を持っている人達のコミュニティです。みんなで目標達成を目指しましょう！</small>

  <div class="comunity_index">
    <div class="serch_form">
      <%= search_form_for @searched_communities, url: community_searched_result_communities_path(@other_communities) do |search_form| %>
        <%= search_form.search_field :title_cont, class: "form-control search_form_window", placeholder: "コミュニティを検索" %>
        <%= search_form.submit t('view.button.search'), class: "btn btn-outline-secondary search_button" %>
      <% end %>
    </div>

    <div class="not_joined_comunity_index">
      <% not_joined_communities = 0 %>
      <% @communities.each do |community| %>
        <% @member = current_user.members.find_by(community_id: community.id) %>
        <% if @member.blank? && community.user_id != current_user.id %>
          <% not_joined_communities += 1 %>
          <div class="card community_card other_comunity_each">
            <div class="row">
              <div class="col-8">
                <h4 class="community_title_in_index"><%= community.title %></h4>
                <small class="community_summary_in_index">概要：<%= community.summary %></small>
                <small class="community_owner_nickname_in_index">作成者：<%= community.user.nickname %></small>
              </div>
              <div class="col-4 other_community_button_div">
                <%= link_to "詳細", community, class: "btn btn-outline-secondary community_show_button" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if not_joined_communities == 0%>
        <p class="no_community_message_p_in_index">参加できるコミュニティはありません。</p>
      <% end %>
    </div>
  </div>
  <%= paginate @communities %>
</div>
