<div class="container-fluid community_index_container">
  <h4 class="comunity_index_title">コミュニティを管理</h4>
  <small class="community_index_guide">管理または参加しているコミュニティです。</small>

  <div class="onw_comunity_index">
    <h5 class="community_index_subtitle">■作成したコミュニティ</h5>
    <% own_communities_count = 0 %>
    <% @own_communities.each do |community| %>
      <% if community.user_id == current_user.id %>
        <% own_communities_count += 1 %>
        <div class="card community_card onw_comunity_each">
          <div class="row">
            <div class="col-8">
              <h4 class="community_title_in_index"><%= community.title %></h4>
              <small class="community_summary_in_index">概要：<%= community.summary %></small>
              <small class="community_owner_nickname_in_index">作成者：<%= community.user.nickname %></small>
            </div>
            <div class="col-4 own_community_button_div">
              <%= link_to t('view.button.show'), community, class: "btn btn-outline-secondary own_community_button" %>
              <%= link_to t('view.button.edit'), edit_community_path(community), class: "btn btn-outline-secondary own_community_button" %>
              <%= link_to t('view.button.delete'), community, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary own_community_button" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if own_communities_count == 0%>
      <p class="no_community_message_p"><small class="no_community_message">作成したコミュニティはありません。</small></p>
    <% end %>
  </div>

  <div class="joined_comunity_index">
    <% joined_communities = 0 %>
    <h5 class="community_index_subtitle">■参加中のコミュニティ</h5>
    <% @other_communities.each do |community| %>
      <% @member = current_user.members.find_by(community_id: community.id) %>
      <% if @member.present? %>
        <% joined_communities += 1 %>
        <div class="card community_card other_comunity_each">
          <div class="row">
            <div class="col-8">
              <h4 class="community_title_in_index"><%= community.title %></h4>
              <small class="community_summary_in_index">概要：<%= community.summary %></small>
              <small class="community_owner_nickname_in_index">作成者：<%= community.user.nickname %></small>
            </div>
            <div class="col-4 other_community_button_div">
              <%= link_to "詳細", community, class: "btn btn-outline-secondary community_show_button" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if joined_communities == 0%>
      <p class="no_community_message_p"><small class="no_community_message">参加中のコミュニティはありません。</small></p>
    <% end %>
  </div>
</div>
