<div class="container-fluid community_index_container">
  <h4 class="comunity_index_title">コミュニティを探す</h4>

  <div class="comunity_index">
    <div class="serch_result_message">
      <% if @searched_results_communities.count == 0 %>
        <small class="plan_index_guide">「<%= params[:q][:title_cont] %>」をタイトルに含むコミュニティはありません。</small>
      <% else %>
        <small class="plan_index_guide">同じ目標を持っている人達のコミュニティです。みんなで目標達成を目指しましょう！</small>
        <p class="search_result_guide">「<%= params[:q][:title_cont] %>」の検索結果</p>
      <% end %>
    </div>

    <div class="not_joined_comunity_index">
      <% not_joined_communities = 0 %>
      <% @searched_results_communities.each do |community| %>
        <% @member = current_user.members.find_by(community_id: community.id) %>
        <% if @member.blank? && community.user_id != current_user.id %>
          <% not_joined_communities += 1 %>
          <div class="card community_card other_comunity_each">
            <div class="row">
              <div class="col-8">
                <h4 class="community_title_in_index"><%= community.title %></h4>
                <small class="community_summary_in_index">概要：<%= community.summary %></small>
                <small class="community_owner_nickname_in_index">作成者：<%= community.user.nickname %></small>
              </div>
              <div class="col-4 other_community_button_div">
                <%= link_to "詳細", community, class: "btn btn-outline-secondary community_show_button" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= paginate @searched_results_communities %>
  <%= link_to t('view.button.clear'), communities_path, class: "btn btn-outline-secondary back_to_shared_goal_button" %>
</div>
