<div class="container_fluid community_show_container">
  <p id="notice"><%= notice %></p>

  <div>
    <h4 class="community_title"><%= @community.title %></h4>
    <p><small>概要：<%= @community.summary %></small></p>
    <p><small>作成者：<%= @community.user.nickname %></small></p>
  </div>

  <div>
    <%= link_to '戻る', communities_path, class: 'btn btn-outline-secondary' %>
    <% if @community.user.id != current_user.id %>
      <% if @member.blank? %>
        <%= link_to "参加", members_path(community_id: @community.id), method: :post, class: 'btn btn-outline-secondary' %>
      <% else %>
        <%= link_to "退出", member_path(id: @member.id), method: :delete, class: 'btn btn-outline-secondary' %>
      <% end %>
    <% end %>
  </div>

  <div>
    <p class="comments_field">コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, community: @community } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, community: @community } %>
  </div>
</div>
