<!-- 1、ステータスが実行中の目標とそれに紐づく解決案を表示する -->
<h1>montly計画</h1>
<table>
  <thead>
  </thead>

  <tbody>
  <%= form_tag(monthly_path, method: 'patch')%>
    <% @goals.each do |goal| %>
      <P><%= goal.title %></p>
        <% goal.problems.each do |problem| %>
          <div>
            <%= problem.title %>
            <%= label_tag :working, 'workingカラム' %>
            <%= check_box_tag :working, '取組中' %>
            <%= label_tag :done, 'doneカラム' %>
            <%= check_box_tag :done, '完了' %>
            <% problem.solutions.each do |solution| %>
          </div>
          <div>
            <%= solution.title %>
            <%= label_tag :working, 'workingカラム' %>
            <%= check_box_tag :working, '取組中' %>
            <%= label_tag :done, 'doneカラム' %>
            <%= check_box_tag :done, '完了' %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= submit_tag('保存')%>
