<h1>weekly計画</h1>
<table>
  <thead>
  </thead>

  <tbody>
  <%= form_tag(weekly_path, method: 'patch')%>
    <% @goals.each do |goal| %>
      <% goal.problems.each do |problem| %>
        <% problem.solutions.each do |solution| %>
        <P><%= solution.title %></p>
          <% solution.tasks.each do |task| %>
            <div>
              <%= task.title %>
              <%= label_tag :working, 'Workingカラム' %>
              <%= check_box_tag :working, '取組中' %>
              <%= label_tag :done, 'doneカラム' %>
              <%= check_box_tag :done, '完了' %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

  <%= submit_tag('保存')%>
