<!DOCTYPE html>
<html>
  <head>
    <title>PitIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <li class="navbar-brand" >Pit In</li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <% if user_signed_in? %>
          <div class="container navbar_container">

            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">目標</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/goals">目標一覧</a>
                  <a class="dropdown-item" href="/goals/new">目標作成</a>
                  <a class="dropdown-item" href="/shared_goals">公開目標</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">計画</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/problems">問題の管理</a>
                  <a class="dropdown-item" href="/monthly_plans">今月の計画</a>
                  <a class="dropdown-item" href="/weekly_plans">今週の計画</a>
                  <a class="dropdown-item" href="/daily_plans">今日の計画</a>
                </div>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/today_jobs">Todo<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">コミュニティ</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/communities/management">コミュニティを管理</a>
                  <a class="dropdown-item" href="/communities">コミュニティを探す</a>
                  <a class="dropdown-item" href="/communities/new">コミュニティを作る</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">繋がり</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                  <%= link_to "ユーザーを探す", other_users_path, class: "dropdown-item" %>
                  <%= link_to "友達一覧（仮）", other_users_path, class: "dropdown-item" %>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/directions">使い方<span class="sr-only">(current)</span></a>
              </li>
            </ul>

            <ul class="user_related_menu">
              <li class="nav-item dropdown user_related_menu_dropdown">
                <a class="nav-link dropdown-toggle user_related_menu_link" href="#" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.icon && current_user.icon.url %>
                    <%= image_tag(current_user.icon.url, class: "header_icon") %>
                  <% else %>
                    <%= image_tag("/default.png", class: "header_icon") %>
                  <% end %>
                  <%= current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="#navbarDropdownMenu" >
                  <%= link_to "マイページ", user_path(current_user.id), class: "dropdown-item" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  <a class="dropdown-item" href="/users" data-method="delete" data-confirm="アカウントを削除します。本当によろしいですか？">退会</a>
                </div>
              </li>
            </ul>

          <% else %>
            <ul class="navbar-nav mr-0">
              <li class="nav-item active">
                <a class="nav-link" href="/users/sign_up">新規登録<span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/users/sign_in">ログイン<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>

  <footer class="py-4 text-light">
    <div class="container-fluid footer_container text-center">

      <section class="row footer_section">
        <% if user_signed_in? %>
            <ul class="col-4 logedin_items">
              <h6 class="footer_item_titles">マイページ</h6>
              <a class="dropdown-item" href="/">登録情報</a>
              <a class="dropdown-item" href="/users/edit">情報変更</a>
              <a class="dropdown-item" href="/users" data-method="delete" data-confirm="アカウントを削除します。本当によろしいですか？">退会</a>
            </ul>

            <ul class="col-4 logedin_items">
              <h6 class="footer_item_titles">目標</h6>
              <a class="dropdown-item" href="/goals">目標一覧</a>
              <a class="dropdown-item" href="/goals/new">目標作成</a>
            </ul>

            <ul class="col-4 logedin_items">
              <h6 class="footer_item_titles">計画</h6>
              <a class="dropdown-item" href="/monthly_plans">今月の計画</a>
              <a class="dropdown-item" href="/weekly_plans">今週の計画</a>
              <a class="dropdown-item" href="/daily_plans">今日の計画</a>
              <a class="dropdown-item" href="/today_jobs">今日のTodo</a>
            </ul>
        <% else %>
            <ul class="col-6 unlogedin_items">
              <a class="dropdown-item" href="/users/sign_up">新規登録<span class="sr-only">(current)</span></a>
            </ul>

            <ul class="col-6 unlogedin_items">
              <a class="dropdown-item" href="/users/sign_in">ログイン<span class="sr-only">(current)</span></a>
            </ul>
        <% end %>
      </section>

      <p class="copyright"><small>Copyright ©︎2021 Pit In, All Rights Reserved</small></p>
    </div>
  </footer>

</html>
